<h1>New game</h1>

<ul class="letters">
  <% @letters.each do |letter| %>
    <li id="letter"><%= letter.capitalize %></li>
  <% end %>
</ul>

  <form action="score" method="post" data-turbo="false">
    <label>What is the longest word you can find?</label>
    <div id="entry_form">
      <input class="col-8" name="user_answer" type="text">
      <input name="letters_choice" type="hidden" value="<%= @letters.join %>"/>
      <input type="submit" name="commit" value="play">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </div>
  </form>
